[gcode_macro BED_MESH_CAL_AND_SAVE]
gcode:
    M140 S80 ; starting by heating the bed for nominal mesh accuracy
    M190 S80 ; waiting until the bed is fully warmed up
    G28 ; home all axes
    BED_MESH_CALIBRATE
    M140 S0
    @BEDLEVELVISUALIZER	; instruct plugin to start recording responses from printer.
    BED_MESH_OUTPUT ; report the bed leveling mesh points.
    save_config

[gcode_macro CLEAN_POSITION]
gcode:
    G28
    G0 X0 Y220 Z100 F3600

[gcode_macro EXT_LED_OFF]
gcode:
    SET_LED LED=extruder_led RED=0 GREEN=0 BLUE=0

[gcode_macro EXT_LED_WHITE]
gcode:
    SET_LED LED=extruder_led RED=1 GREEN=1 BLUE=1

[gcode_macro EXT_LED_RED]
gcode:
    SET_LED LED=extruder_led RED=1 GREEN=0 BLUE=0

[gcode_macro EXT_LED_GREEN]
gcode:
    SET_LED LED=extruder_led RED=0 GREEN=1 BLUE=0

[gcode_macro EXT_LED_BLUE]
gcode:
    SET_LED LED=extruder_led RED=0 GREEN=0 BLUE=1

[gcode_macro G28]
# Only home if needed
rename_existing: G28.1
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28.1
    {% endif %}
